<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="/assets/css/style.css" />
<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

<script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
<script
	src="https://unpkg.com/react-router@2.8.1/umd/ReactRouter.min.js"></script>

<meta charset="UTF-8" />





<title>Student list</title>
</head>



<body>

	<div th:fragment="login" class="login"
		sec:authorize="not isAuthenticated()">
		<div class="login-form">
			<p th:if="${loginError}" class="error">Wrong user or password</p>
			<form th:action="@{/login}" id="signin"
				class="navbar-form navbar-right" role="form" method="post">
				<div class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> <input id="username"
						type="text" class="form-control" name="username" value=""
						placeholder="Username" />
				</div>

				<div class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-lock"></i></span> <input id="password"
						type="password" class="form-control" name="password" value=""
						placeholder="Password" />
				</div>

				<button type="submit" class="btn btn-primary">Login</button>
			</form>
			<br />
			<br />
			<br />
			<br />
		</div>
	</div>

	<div th:fragment="logout" class="logout"
		sec:authorize="isAuthenticated()">		
		
			
			
			
			<div sec:authorize="hasRole('ROLE_STUDENT')">
				<div>
    			<p class="msg">Wellcome you are logged in as <span sec:authentication="name"></span> </p>
    			<ul class="nav nav-tabs mynav">
    			  <li role="presentation"> <a th:href="@{|~/#/profile/${#authentication.name}|}" class="text-left">Profile</a></li>
    			  <li role="presentation"> <a th:href="@{|~/|}" class="text-left">Home</a></li>
    			</ul>
  		      </div>			 
			</div>
			
			
			
			<div sec:authorize="hasRole('ROLE_PROFESSOR')">
			<div>
    			<p class="msg">Wellcome you are logged in as <span sec:authentication="name"></span> </p>
    			<ul class="nav nav-tabs mynav">    			  
    			  <li role="presentation"> <a th:href="@{|~/|}" class="text-left">Home</a></li>
    			  <li role="presentation"> <a th:href="@{|~/#/profileProf/${#authentication.name}|}" class="text-left">Profile</a></li>
    			  <li role="presentation"> <a th:href="@{|~/#/dashboard/${#authentication.name}|}" class="text-left">Dashboard</a></li>
    			</ul>
  		      </div>
			  
			</div>
						
			
			
			
		<div>
			<form action="#" th:action="@{/logout}" method="post" class="logout-form">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>



	<div class="container" id="main"></div>
	<script type="text/babel" src="/assets/js/professor.js"></script>
	<script type="text/babel" src="/assets/js/course.js"></script>
	<script type="text/babel" src="/assets/js/student.js"></script>
	<script type="text/babel" src="/assets/js/index.js"></script>
	<script type="text/babel" src="/assets/js/registration.js"></script>

	<script type="text/babel" src="/assets/js/professor.js"></script>
	<script type="text/babel" src="/assets/js/assistant.js"></script>

	<script type="text/babel" src="/assets/js/router.js"></script>

</body>

</html>

