.msg{
	color: #756c6c;
    text-align: right;
    float: right;
    font-variant: small-caps;
    padding: 1em;
}

.logout-form{
	float:right;
	margin-right:5em;
}

.logout-form input{
	border-radius:20px;
	padding:10px;
	background-color:white;
	border:2px solid black;
}

.logout-form input:hover{
	background-color:#e2e2e2;
}

.login-form{
	margin-right:2em;
}

.mynav{
	margin-bottom:1em;
}

.subjects{
	padding: 1em;
	border-right: 1px solid black;
}

.subjectsList{
	font-size: 36px;
	font-variant: small-caps;
    text-align: center;
}

.subjUl{
	text-align: center;
    font-size: 2em;
    list-style-type: none;
    font-variant: small-caps;
}

.subjUl li:hover{
	cursor: pointer;
}

.profilePhoto{
    border: 7px double #2f2b2b;
    margin-bottom: 1em;
}

.studentName{
	font-variant: small-caps;
    font-style: italic;
    color: #4a52b3;
}

.studentDetail li{
	padding:0.2em;
}

.studentIdName{
	font-size: large;
    color: #235b75;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.backTo{
	padding: 1em;
    border: none;
    background-color: #636880;
    width:40%;
    color: white;
    font-weight: bold;
}

.backTo:hover{
	background-color: black;
}

.selectSt{
	width: 10em;
    margin-right: 2em;
}

.inp{
	width:300px;
}